.container{
  display: flex;
  align-items: center;
}

.minus{
  border-radius: 5px;
  background-color: cyan;
  height: 30px;
}

.plus{
  border-radius: 5px;
  background-color: magenta;
  height: 30px;
}